<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  		<form method='post' enctype='application/x-www-form-urlencoded'>
			<p><input type='text', name='email', placeholder='Email'/></p>
			<p><input type='password', name='password', placeholder= 'Password'/></p>
			<p><input type='submit', value='Register'/></p>
		</form>
  </body>
</html>